In [1]:
import sys
sys.path.append('..')

In [2]:
from iterative import Iterative

In [3]:
bbox = 'N55bE039'
angle_count = 120
decline = 0.0001
real_wpt = [55.61205, 39.97805]
curr = [55.59582, 39.96037]
start = [55.59476, 39.95345]
curr_type = 0
wpt = real_wpt.copy()
wpt[0] = float("{0:.6f}".format(wpt[0] - curr[0]))
wpt[1] = float("{0:.6f}".format(wpt[1] - curr[1]))
start[0] = float("{0:.6f}".format(start[0] - curr[0]))
start[1] = float("{0:.6f}".format(start[1] - curr[1]))

___
## Build DataFrame

In [4]:
it = Iterative(bbox, curr, wpt, start, angle_count, curr_type, decline)

In [5]:
df, fig = it.creat_df()
df.head()

     dist_bad   dist_good angle_wpt angle_from
0  0.00634228  0.00675949       NaN        NaN
1  0.00621468  0.00676912       NaN        NaN
2  0.00609958  0.00675373       NaN        NaN
3  0.00592101  0.00672317       NaN        NaN
4  0.00576797  0.00673682       NaN        NaN

In [6]:
it.fill_df(df)
df.head()

  dist_bad dist_good angle_wpt angle_from
0  63.4228   67.5949   47.4485    98.7088
1  62.1468   67.6912   44.4485    101.709
2  60.9958   67.5373   41.4485    104.709
3  59.2101   67.2317   38.4485    107.709
4  57.6797   67.3682   35.4485    110.709

___
## Draw a map

In [7]:
it = Iterative(bbox, curr, wpt, start, angle_count, curr_type, decline, True)

In [1]:
import mplleaflet
df, fig = it.creat_df()
mplleaflet.display(fig=fig)

![](maps/map.png)

In [9]:
it.fill_df(df)
df.head()

  dist_bad dist_good angle_wpt angle_from
0  63.4228   67.5949   47.4485    98.7088
1  62.1468   67.6912   44.4485    101.709
2  60.9958   67.5373   41.4485    104.709
3  59.2101   67.2317   38.4485    107.709
4  57.6797   67.3682   35.4485    110.709