---  
## Parsing a gpx file

In [1]:
from gpx_parser import parse_gpx, shift_df

In [2]:
df_coords = parse_gpx('../tracks/track.gpx')
df_coords.head()

        lat       lon
0  56.30686  38.28950
1  56.30661  38.28866
2  56.30661  38.28780
3  56.30660  38.28683
4  56.30661  38.28593

In [3]:
df_shifted = shift_df(df_coords)
df_shifted.head()

   prev_lat  prev_lon  wpt_lat  wpt_lon
0  -0.00004   0.00051  0.00004 -0.00051
1   0.00025   0.00084 -0.00021 -0.00135
2   0.00000   0.00086 -0.00021 -0.00221
3   0.00001   0.00097 -0.00022 -0.00318
4  -0.00001   0.00090 -0.00021 -0.00408